.exercise-button{
  display:inline-block;
  $circle-size: 50px;
  width:$circle-size;
  height:$circle-size;
  border-radius:$circle-size / 2;
  border-width: .5px;
  font-size:15px;
  color:#fff;
  line-height:$circle-size;
  text-align:center;
  text-decoration:none;
  background:#000;
  margin-right: 5px;
  border-style: solid;
  border-color:#000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.empty {
    background:#FFF;
    &:hover {
      color: #FFF;
      background-color: #FFF;
      text-decoration: none;
    }
  }
  &:hover {
    color:#ccc;
    text-decoration:none;
    background:#333;
    cursor: pointer;
  }
}
