.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  background-color: white;
  .container {
    text-align: left;

  }
}
@media (min-width: 544px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.row {
  text-align: left;
}
